<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3 style="color:#fff">S'inscrire</h3>
      <div class="input-container">
        <input
          type="email"
          class="formControl"
          #userEmail
          required
        />
        <label>Email</label>
      </div>
      <div class="input-container">
        <input
          type="password"
          class="formControl"
          #userPwd
          required
        />
        <label>Mot de passe</label>
      </div>
      <div class="formGroup">
        <span type="button" class="button" (click)="authService.SignUp(userEmail.value, userPwd.value)">S'inscrire</span>
      </div>
      <div class="formGroup">
        <span class="or"><span style="color:#fff" class="orInner">Or</span></span>
      </div>
      <!-- Continue with Google -->
      <div class="formGroup">
        <span
          type="button"
          class="button"
          (click)="authService.GoogleAuth()"
        >
          <i style="color:#fff" class="fab fa-google-plus-g"></i>
          S'inscrire avec Google
        </span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span style="color:#fff">Vous avez déjà un compte ? <span class="button" routerLink="/sign-in">Se connecter</span></span>
    </div>
  </div>
</div>