<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3 style="color:#fff">Réinitialiser le mot de passe</h3>
        <p style="color:#fff" class="text-center">Veuillez saisir votre adresse e-mail pour demander une réinitialisation du mot de passe.</p>
        <div class="input-container">
          <input type="email" class="formControl" #passwordResetEmail required>
          <label>Email</label>
        </div>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup">
          <input type="submit" class="btn btnPrimary" value="Réinitialiser le mot de passe" (click)="authService.ForgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <div class="redirectToLogin">
        <span style="color:#fff">Retour <span class="button" routerLink="/sign-in">Se connecter</span></span>
      </div>
    </div>
  </div>